<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder</title>

  <link rel="stylesheet" href="/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body class="folderViewBody">
  <%- include('partials/nav-bar.ejs') %>
<main class="folderViewMain">
  <div class="folderPageIconHeadingCont">
    <img class="openFolderImg" src="/folder-open.svg" alt="folder" width="30px">
    <h1><%= locals.folderInfo.folderName %></h1>
  </div>
  <%-include('partials/upload-form') %>
  <h3 class="filesUlHeading">Files: </h3>
  <% if(locals.files.length) { %>
    <ul class="filesUl">
      <% files.forEach((file, indx) => { %>
        <li class="filesLi">
          <a class="fileLinkFolderView" href="/file/<%= file.id %>/<%= file.fileName %>">
            <img class="fileLinkImgFolderView" src="/description.svg" alt="file">
            <p><%= file.fileName %></p>
          </a>
          <form action="/form/delete-file-verify/<%= file.id %>" method="GET"><button type="submit" class="deleteFileBtnFolderView"><img src="/delete.svg" alt="delete"></button></form>

        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p class="noFilesText">There are no files in this folder :(</p>
  <% } %>
</main>
</body>
</html>