<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folder</title>
</head>
<body>
<h1>Folder View</h1>
<%-include('partials/upload-form') %>
<% if(locals.files) { %>
  <ul>
    <% files.forEach((file, indx) => { %>
      <li>
        <p><%= file.originalName %></p>
        <p><%= file.fileName %></p>
        <a href="/download/<%= file.fileName %>">Download</a>
        <form action="/form/delete-file/<%= file.id %>" method="POST"><button type="submit">Delete File <%= file.id %></button></form>
      </li>
    <% }) %>
  </ul>
<% } %>
</body>
</html>