<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="/styles.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body class="foldersBody">
  <%-include('partials/nav-bar') %>
  <main class="foldersMainCont">
    <section>
      <h1 class="foldersHeading"><%= locals.loggedInUsername %>'s folders:</h1>
      <% if(locals.usersFolders) { %>
        <ul class="foldersUl">
          <% locals.usersFolders.forEach((item, indx) => { %>
            
            <li class="foldersLi">
              <div class="foldersFlap"> </div>
              <div class="foldersCont">
                <a href="/folders/<%= loggedInUserId %>/<%= loggedInUsername %>/<%= item.folderName %>">
                  <div class="folderTitleContainer">
                    <img src="/folder-open.svg" alt="folder">
                    <p><%= item.folderName %></p>
                  </div>
                </a>
                <p class="folderDescriptionPara">Description: <%= item.description %></p>
                <p>Created: <%= item.formattedDates.createDateTime[1] %>, <%= item.formattedDates.createDateTime[0] %></p>
                <p>Last Modified: <%= item.formattedDates.modifiedDateTime[1] %>, <%= item.formattedDates.modifiedDateTime[0] %></p>
                <p>Shared: <%= item.shared ? '✔️ Shared' : '❌, Not Shared' %></p>
                <div class="editDeleteFileBtnsContainer">
                  <button class="editFolderModalBtn<%= indx %> editFolderBtn" type="button"><img class="editFolderImg" src="/edit.svg" alt="edit file" width="24px"></button>
                  <button type="button" class="deleteFolderBtn<%= indx %> deleteFolderBtn"><img class="deleteFolderImg" src="/delete.svg" alt="delete file" width="24px"></button>
                </div>
              </div>
            </li>
            <dialog class="editFolderModal<%= indx %> editFolderModal">
              <form action="/form/edit-folder/<%= item.id %>" method="POST">
                <h4 class="modalHeading">Editing Folder: </h4>
                <p class="modalFolderName"><%= item.folderName %></p>
                <br>
                <label for="editFolderName">Folder Name: </label>
                <br>
                <input type="text" class="editFolderNameInput<%= indx %> folderNameInput" name="editFolderName" id="editFolderName<%= indx %>">
                <br>
                <label for="editFolderDescription">Folder Description: </label>
                <br>
                <!-- <input type="text" class="editFolderDescriptionInput<%= indx %>" name="editFolderDescription" id="editFolderDescription<%= indx %>"> -->
                <textarea name="editFolderDescription" id="editFolderDescriptionInput<%= indx %>" class="editFolderDescriptionInput<%= indx %> folderDescriptionTextArea"></textarea>
                <br>
                <div class="createFolderModalBtnsCont">
                  <button type="button" class="exitEditFolderModalBtn<%= indx %>">Exit</button>
                  <button type="submit">Submit</button>
                </div>
              </form>
            </dialog>

            <dialog class="deleteFolderModal<%= indx %> deleteFolderModal">
              <form action="/form/delete-folder/<%= item.id %>" method="POST">
                <h3>Are you sure you want to <mark class="deleteMark">delete</mark> <%= item.folderName %>?</h3>
                <p>All files inside folder will be <mark class="deleteMark">permanently deleted!</mark></p>
                <div class="createFolderModalBtnsCont">
                  <button  type="button" class="deleteFolderModalExit<%= indx %>">Exit</button>
                  <button value='<%= item.id %>' name="folderId" type="submit" class="deleteFolderModalBtn<%= indx %> deleteFolderModalBtn">Delete</button>
                </div>
              </form>
            </dialog>
          
            <script>
              const editFolderModal<%= indx %> = document.querySelector('.editFolderModal<%= indx %>');
              const editFolderModalBtn<%= indx %> = document.querySelector('.editFolderModalBtn<%= indx %>');
              const exitEditFolderModalBtn<%= indx %> = document.querySelector('.exitEditFolderModalBtn<%= indx %>');
              const editFolderNameInput<%= indx %> = document.querySelector('.editFolderNameInput<%= indx %>');
              const editFolderDescriptionInput<%= indx %> = document.querySelector('.editFolderDescriptionInput<%= indx %>');
              const deleteFolderBtn<%= indx %> = document.querySelector('.deleteFolderBtn<%= indx %>');
              const deleteFolderModal<%= indx %> = document.querySelector('.deleteFolderModal<%= indx %>');
              const deleteFolderModalExit<%= indx %> = document.querySelector('.deleteFolderModalExit<%= indx %>');

              editFolderNameInput<%= indx %>.value = `<%= item.folderName %>`;
              editFolderDescriptionInput<%= indx %>.value = `<%= item.description %>`;


              editFolderModalBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                editFolderModal<%= indx %>.showModal();
              });
          
              exitEditFolderModalBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                editFolderModal<%= indx %>.close();
              });

              deleteFolderBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                deleteFolderModal<%= indx %>.showModal();

              });

              deleteFolderModalExit<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                deleteFolderModal<%= indx %>.close();
              })
          
            </script>
          <% }) %>
        </ul>
        <% } %>
    </section>




  <dialog class="createFolderModal">
    <form method="POST">
      <h4 class="modalHeading">Creating Folder: </h4>

      <label for="folderName">Folder Name: </label>
      <br>
      <input class="folderNameInput" type="text" name="folderName" id="folderName">
      <br>
      <label for="folderDescription">Folder Description: </label>
      <br>
      <textarea class="folderDescriptionTextArea" name="folderDescription" id="folderDescription"></textarea>
      <br>
      <div class="createFolderModalBtnsCont">
        <button type="button" class="exitBtn">Exit</button>
        <button type="submit">Submit</button>
      </div>
    </form>
  </dialog>
  <div class="createFolderBtnContainer">
    <button class="createFolderBtn">Create A New Folder</button>
  </div>
</main>
  <script>
    const createFolderBtn = document.querySelector('.createFolderBtn');
    const createFolderModal = document.querySelector('.createFolderModal');
    const exitBtn = document.querySelector('.exitBtn');

    exitBtn.addEventListener('click', (e) => {
      createFolderModal.close();
    });

    createFolderBtn.addEventListener('click', (e) => {
      e.preventDefault();
      createFolderModal.showModal();
    });
  </script>
</body>
</html>