<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%-include('partials/nav-bar') %>
  <main>
    <section>
      <h1>Folders</h1>
      <% if(locals.usersFolders) { %>
        <ul>
          <% locals.usersFolders.forEach((item, indx) => { %>
            
            <li>
              <a href="/folders/<%= loggedInUserId %>/<%= loggedInUsername %>/<%= item.folderName %>"><%= item.folderName %></a>
              <p><%= item.description %></p>
              <button class="editFolderModalBtn<%= indx %>" type="button">Edit</button>
              <button type="button" class="deleteFolderBtn<%= indx %>">Delete</button>
            </li>
            <dialog class="editFolderModal<%= indx %>">
              <form action="/form/edit-folder/<%= item.id %>" method="POST">
                <label for="editFolderName">Folder Name: </label>
                <br>
                <input type="text" class="editFolderNameInput<%= indx %>" name="editFolderName" id="editFolderName<%= indx %>">
                <br>
                <label for="editFolderDescription">Folder Description: </label>
                <br>
                <input type="text" class="editFolderDescriptionInput<%= indx %>" name="editFolderDescription" id="editFolderDescription<%= indx %>">
                <br>
                <button type="submit">Submit</button>
                <button type="button" class="exitEditFolderModalBtn<%= indx %>">Exit</button>
              </form>
            </dialog>

            <dialog class="deleteFolderModal<%= indx %>">
              <form action="/form/delete-folder/<%= item.id %>" method="POST">
                <h3>Are you sure you want to delete <%= item.folderName %>?</h3>
                <button value='<%= item.id %>' name="folderId" type="submit" class="deleteFolderModalBtn<%= indx %>">Delete</button>
                <button  type="button" class="deleteFolderModalExit<%= indx %>">Exit</button>
              </form>
            </dialog>
          
            <script>
              const editFolderModal<%= indx %> = document.querySelector('.editFolderModal<%= indx %>');
              const editFolderModalBtn<%= indx %> = document.querySelector('.editFolderModalBtn<%= indx %>');
              const exitEditFolderModalBtn<%= indx %> = document.querySelector('.exitEditFolderModalBtn<%= indx %>');
              const editFolderNameInput<%= indx %> = document.querySelector('.editFolderNameInput<%= indx %>');
              const editFolderDescriptionInput<%= indx %> = document.querySelector('.editFolderDescriptionInput<%= indx %>');
              const deleteFolderBtn<%= indx %> = document.querySelector('.deleteFolderBtn<%= indx %>');
              const deleteFolderModal<%= indx %> = document.querySelector('.deleteFolderModal<%= indx %>');
              const deleteFolderModalExit<%= indx %> = document.querySelector('.deleteFolderModalExit<%= indx %>');

              editFolderNameInput<%= indx %>.value = '<%= item.folderName %>';
              editFolderDescriptionInput<%= indx %>.value = '<%= item.description %>'


              editFolderModalBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                editFolderModal<%= indx %>.showModal();
              });
          
              exitEditFolderModalBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                editFolderModal<%= indx %>.close();
              });

              deleteFolderBtn<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                deleteFolderModal<%= indx %>.showModal();

              });

              deleteFolderModalExit<%= indx %>.addEventListener('click', (e) => {
                e.preventDefault();
                deleteFolderModal<%= indx %>.close();
              })
          
            </script>
          <% }) %>
        </ul>
        <% } %>
    </section>
  </main>



  <dialog class="createFolderModal">
    <form method="POST">
      <label for="folderName">Folder Name: </label>
      <br>
      <input type="text" name="folderName" id="folderName">
      <br>
      <label for="folderDescription">Folder Description: </label>
      <br>
      <input type="text" id="folderDescription" name="folderDescription">
      <br>
      <button type="submit">Submit</button>
      <button type="button" class="exitBtn">Exit</button>
    </form>
  </dialog>
  <button class="createFolderBtn">Create A New Folder</button>

  <script>
    const createFolderBtn = document.querySelector('.createFolderBtn');
    const createFolderModal = document.querySelector('.createFolderModal');
    const exitBtn = document.querySelector('.exitBtn');

    exitBtn.addEventListener('click', (e) => {
      createFolderModal.close();
    });

    createFolderBtn.addEventListener('click', (e) => {
      e.preventDefault();
      createFolderModal.showModal();
    });
  </script>
</body>
</html>